<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        html {
            display: table;
            margin: auto;
        }

        body {
            font-size: 14px;
        }

        div.template {
            padding: 40px;
            background: #eff0f5;
            display: table-cell;
            vertical-align: middle;
        }

        table {
            font-size: 14px;
            line-height: 20px;
            background-color: #fff;
            padding: 0px 38px 59px 24px;
            width: 100%;
            height: 100%;
            border-spacing: 10px;
            border-collapse: separate;
            margin: 20px;
        }

        #Table_01 {
            margin: 0 auto;

        }

        .font20 {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
        }

        .font700 {
            font-weight: 700 !important;
        }

        .font12 {
            font-size: 12px;
        }

        .font18 {
            font-size: 18px;
        }

        .begreaterLink {
            color: #007be3;
            display: inline-block;
        }


        .col-md-5 {
            flex: "0 0 41.666667%";
            max-width: 500px;
            background-color: red;
        }

        .entry-points {
            padding: 60px 50px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button {
            padding: 9px 23px;
            background-color: #0074fb;
            /* Green */
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 2px;
        }

        .button:focus {
            outline: none;
            border: none;
        }

        td {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h6 {
            margin: 54px 0px 0px 0px;
        }

        h1 {
            margin: 23px 0px 22px 0px;
            text-align: center;
            overflow-wrap: break-word;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            line-height: 1.1;
        }

        p {
            margin: 13px;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        svg {
              max-height: 300px;
            
              margin: 0 auto; /* poor attempt at centering */
            
              height: auto !important; /* overrides inline */
              width: auto !important; /* overrides inline */
            
              max-width: 300px;
              display: block;
        }

        tr {
            margin: 0;
            padding: 0;
        }
    </style>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body style="box-sizing: border-box; height: 100%; background-color: #F3F4F8; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <div style="height: 80px"></div>
    <div class="container" style="box-sizing: border-box; height: max-content; margin: 0 auto; background: #ffffff; display: block; max-width: 580px; padding: 0; width: 580px;">
      <div class="header" style="margin: 0; box-sizing: border-box; width: 100%; padding-top: 16px; padding: 20px 0;">
      </div>
      <div class="content" style="margin: 0; box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">
       
        <div class="content-details" style="margin: 0; padding: 0; box-sizing: border-box;">
            <div class="mx-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="182" height="55" viewBox="0 0 182 55" fill="none">
  <g clip-path="url(#clip0_1813_14985)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.3618 0.894531L14.791 12.9059L29.7724 36.7325H44.698L22.3618 0.894531Z" fill="#D8D8D8"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.3618 0.894531L14.791 12.9059L29.7724 36.7325H44.698L22.3618 0.894531Z" fill="url(#paint0_linear_1813_14985)"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9128 13.0085L22.3402 24.9101L14.791 12.9041L22.3618 0.894531L29.9128 13.0085Z" fill="#1DE3D1"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9128 42.941L22.3402 54.8426L14.791 42.8366L22.3618 30.8252L29.9128 42.941Z" fill="url(#paint1_linear_1813_14985)"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0996094 36.7328H14.7912L22.3134 24.8871L14.7912 12.9062L0.0996094 36.7328Z" fill="url(#paint2_linear_1813_14985)"/>
    <path d="M73.5432 13.0225H78.747V33.2041H73.545V30.8227C72.0906 32.6389 69.9126 33.7693 66.9678 33.7693C61.6038 33.7693 57.165 29.1253 57.165 23.1133C57.165 17.0977 61.602 12.4555 66.9678 12.4555C69.9126 12.4555 72.0906 13.5859 73.5432 15.4021V13.0225ZM67.9362 28.8049C71.1636 28.8049 73.5432 26.5045 73.5432 23.1133C73.5432 19.7221 71.1636 17.4217 67.9362 17.4217C64.7502 17.4217 62.3688 19.7221 62.3688 23.1133C62.3688 26.5045 64.7484 28.8049 67.9362 28.8049ZM96.5346 12.4573C101.94 12.4573 106.377 17.0995 106.377 23.1133C106.377 29.1289 101.94 33.7693 96.5346 33.7693C93.588 33.7693 91.4514 32.6803 89.9988 30.8245V41.2789H84.795V13.0225H89.997V15.4021C91.4514 13.5445 93.588 12.4555 96.5346 12.4555V12.4573ZM95.5662 28.8049C98.7936 28.8049 101.173 26.5045 101.173 23.1133C101.173 19.7221 98.7936 17.4217 95.5662 17.4217C92.3802 17.4217 89.9988 19.7221 89.9988 23.1133C89.9988 26.5045 92.3784 28.8049 95.5662 28.8049ZM111.572 33.0277V12.8461H116.776V33.0295H111.574L111.572 33.0277ZM154.921 10.5259V5.32031H160.125V10.5259H154.923H154.921ZM111.572 10.5259V5.32031H116.776V10.5259H111.574H111.572ZM145.378 13.0225H150.904L144.492 33.2041H139.531L135.82 20.9731L132.108 33.2041H127.144L120.73 13.0225H126.256L129.685 25.4155L133.357 13.0225H138.278L141.95 25.4551L145.378 13.0225ZM154.921 33.0277V12.8461H160.125V33.0295H154.923L154.921 33.0277ZM172.68 28.3207H181.637V33.2059H165.7V29.7337L174.212 17.9077H166.103V13.0207H181.232V16.4911L172.678 28.3189L172.68 28.3207Z" fill="#323232"/>
  </g>
  <defs>
    <linearGradient id="paint0_linear_1813_14985" x1="44.698" y1="0.894108" x2="14.791" y2="0.894108" gradientUnits="userSpaceOnUse">
      <stop stop-color="#01B0FF"/>
      <stop offset="1" stop-color="#015EFA"/>
    </linearGradient>
    <linearGradient id="paint1_linear_1813_14985" x1="22.3519" y1="30.8252" x2="22.3519" y2="54.8426" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF16A6"/>
      <stop offset="1" stop-color="#FFBF27"/>
    </linearGradient>
    <linearGradient id="paint2_linear_1813_14985" x1="8.40313" y1="36.7328" x2="22.1941" y2="15.0979" gradientUnits="userSpaceOnUse">
      <stop stop-color="#E300F6"/>
      <stop offset="1" stop-color="#5213D2"/>
    </linearGradient>
    <clipPath id="clip0_1813_14985">
      <rect width="181.8" height="54" fill="white" transform="translate(0.0996094 0.894531)"/>
    </clipPath>
  </defs>
</svg>
            </div>
             <div class="greeting-user" style="padding: 0; display: flex; align-items: center ; box-sizing: border-box; margin: 0 auto; gap: 4px; font-size: 18px; width: max-content;">
                 <p style="margin: 16px 0px 10px 0px; background: var(--gradients-pink, linear-gradient(180deg, #E300F6 0%, #6A10D8 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; font-size: 18px;
font-weight: 600;">Hello,</p>
                  <span style="margin: 0; padding: 0; box-sizing: border-box;">&#128075;</span>
        </div>
        <p style="font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; margin-top: 0; color: #323232; ">You have a new Approval Request for <%= entityName %></p>
        
          <div class="hero-img-container" style="padding: 0; box-sizing: border-box; width: 267px; height: 199px; margin: 0 auto; margin-bottom: 25px; background-image: url('https://apiwiz-native-apps.s3.ap-south-1.amazonaws.com/email-template-assets/registration-hero.jpg'); background-position: 0 100%; background-repeat: no-repeat; background-size: contain;">
          </div>
          <p class="text-center" style="padding: 0; box-sizing: border-box; font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center; color: #000">
            To <span style="color: #46A758">accept</span> or <span 
            style="color: #E5484D">decline</span> the requests. Please visit the workspace.</p>
          <a href="<%= approvalSiteLink %>" target="_blank" style="margin: 0; padding: 0; box-sizing: border-box; cursor: pointer; color: #ec0867; text-decoration: none;">
            <button class="btn btn-primary d-block mx-auto mt-16" style="display: block; margin: 0 auto; margin-top: 16px; border: 1px solid transparent; outline: none; font-weight: 700; font-size: 14px; background: #0074fa; border-radius: 8px; padding: 12px 24px; text-align: center; color: #ffffff; box-sizing: border-box; width: 226px;">
              Login
            </button>
          </a>
        </div>
      </div>
      <div class="footer" style="margin: 0; padding: 0; box-sizing: border-box; clear: both; Margin-top: 10px; text-align: center; width: 100%;">
        <div class="apiwiz-info" style="margin: 0; box-sizing: border-box; padding: 16px 24px; width: 100%; display: inline-block;">
          <div class="apiwiz-url" style="margin: 0; padding: 0; box-sizing: border-box; color: #323232; font-weight: 400; font-size: 12px; float: left;">
            <a href="https://www.apiwiz.io/" target="_blank" style="margin: 0; padding: 0; box-sizing: border-box; cursor: pointer; text-decoration: none; color: #9a9ea6; font-size: 12px; text-align: center;">www.apiwiz.io</a>
          </div>
          <div class="apiwiz-socials" style="margin: 0; box-sizing: border-box; float: right; gap: 16px; padding: 0 8px;">
            <a href="https://www.linkedin.com/company/apiwizio" target="_blank" style="margin: 0; padding: 0; box-sizing: border-box; cursor: pointer; color: #9a9ea6; font-size: 12px; text-align: center;">
              <img src="https://apiwiz-native-apps.s3.ap-south-1.amazonaws.com/email-template-assets/linkedin.png" class="social-icon" style="margin: 0; padding: 0; box-sizing: border-box; border: none; -ms-interpolation-mode: bicubic; max-width: 100%; cursor: pointer; width: 12px; height: 12px; margin-right: 16px;" width="12" height="12">
            </a>
            <a href="https://twitter.com/getapiwiz" target="_blank" style="margin: 0; padding: 0; box-sizing: border-box; cursor: pointer; color: #9a9ea6; font-size: 12px; text-align: center;">
              <img src="https://apiwiz-native-apps.s3.ap-south-1.amazonaws.com/email-template-assets/twitter.png" class="social-icon" style="margin: 0; padding: 0; box-sizing: border-box; border: none; -ms-interpolation-mode: bicubic; max-width: 100%; cursor: pointer; width: 15px; height: 12px; margin-right: 16px;" width="15" height="12">
            </a>
            <a href="https://www.youtube.com/@apiwiz" target="_blank" style="margin: 0; padding: 0; box-sizing: border-box; cursor: pointer; color: #9a9ea6; font-size: 12px; text-align: center;">
              <img src="https://apiwiz-native-apps.s3.ap-south-1.amazonaws.com/email-template-assets/youtube.png" class="social-icon" style="margin: 0; padding: 0; box-sizing: border-box; border: none; -ms-interpolation-mode: bicubic; max-width: 100%; cursor: pointer; width: 17px; height: 12px;" width="17" height="12">
            </a>
          </div>
        </div>
        <div class="apiwiz-legal text-center" style="margin: 0; box-sizing: border-box; text-align: center; color: #575757; background: #f9f9f9; font-size: 12px; padding: 12px;">
          <p style="padding: 0; box-sizing: border-box; font-family: sans-serif; font-weight: normal; margin: 0; margin-bottom: 15px; line-height: 20px; color: #9a9ea6; font-size: 12px; text-align: center;">
            © APIwiz All rights reserved.</p>
          <p style="padding: 0; box-sizing: border-box; font-family: sans-serif; font-weight: normal; margin: 0; margin-bottom: 15px; line-height: 20px; color: #9a9ea6; font-size: 12px; text-align: center;">
            4695 Chabot Dr Suite 108, Pleasanton, California 94588</p>
          <p style="padding: 0; box-sizing: border-box; font-family: sans-serif; font-weight: normal; margin: 0; margin-bottom: 15px; line-height: 20px; color: #9a9ea6; font-size: 12px; text-align: center;">
            If you have any questions please contact us info@apiwiz.com</p>
        </div>
      </div>
    </div>
    <div style="height: 80px"></div>
  </body>

</html>